---
import './style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header class="header-about"><ul>
            <a href="homepage">Home</a>
        </ul>
    </header>
        
		<div class="section">
            <div class="box1"><h1>About</h1></div> 

          <div class="box2"><h2>Biography</h2><br><br>
            <p>Agnes Monica Muljoto, born 1 July 1986, known professionally as Agnez Mo 
            , is an Indonesian singer and actress. Born and raised in Jakarta, 
            she is known as a bilingual singer who records in both Indonesian and English.
            <br><br>Mo is an anti-drug ambassador in Asia and the ambassador of MTV EXIT in combating human trafficking. 
            Mo has also claimed the title of entrepreneur, 
            showcasing her own fashion line ANYE, APP, Digital Marketplace, 
            and partnering with cell phone manufacturer Vivo to create her own limited-edition line of devices.<br><br>
            Mo is the most awarded Indonesian artist with over 190 awards.In 2022, 
            Mo was immortalized through a wax statue at Madame Tussauds Singapore museum, 
            and thus became the first Indonesian celebrity to have a wax statue made there.
            In 2023, she represented Indonesia at the Grammy's Global Spin,
            and became the first Indonesian musician to perform solo at the event.
             <br><br><strong>She is a singer, a songwriter, an actress, a record producer, a dancer, a model, 
            and a businesswoman. </strong></p></div>

            <div class="box3"><img src="../images/Agnez_Mo.jpg"  alt=""></div>
         

        
        </div>
        

		
       
	</body>
</html>