---
import './style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header class="header-about"><ul>
            <a href="homepage">Home</a>
        </ul>
    </header>
        
		<div class="section">
            <div class="box1"><h1>About</h1></div> 
          <div class="box3"><img src="../images/Agnez_Mo.jpg"  alt=""></div> 
          <div class="box2"></div>
          <div class="box4"></div>

        
        </div>
        

		
       
	</body>
</html>