---
import './style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="header-main">
			<div class="div-1"><ul><a href="about.html">About</a></ul>
			</div>
			<div class="div-2"><ul><a href="news.html">News</a></ul></div>
			<div class="div-3"><ul><a href="playlist.html">Playlist</a></ul></div>
		</header>
		
		
	</body>
</html>
