---
import './style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News/Tour</title>
	</head>
	
	<body>
		
		<header class="header-news"><ul>
            <a href="homepage">Home</a>
        </ul>
		<h1>Latest News and Tours<h1>
    </header>
		<ul>
			<section class="news">
			
			</section>

			<div class="news">
				<div class="box">
					<h2>Indonesian superstar Agnez Mo headlines Asian music festival in Round Rock</h2>
					<p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
						claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
						it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.

						Actually, this unique traveling festival by 1214 Entertainment has taken place in various forms in Austin, 
						New York, and Los Angeles, featuring a few of the same artists, but mostly different lineups. This time, 
						it's at the Round Rock Amp (3701 I 35 N Frontage Rd.),<a href="blog1"><strong>Read More</strong></a></p>
						
						
						<img src="../images/Concert AgneszM.jpg"  alt=""></div>
					</div>

					<div class="news">
						<div class="box">
							<h2>Indonesian superstar Agnez Mo headlines Asian music festival in Round Rock</h2>
							<p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
								claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
								it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.
		
								Actually, this unique traveling festival by 1214 Entertainment has taken place in various forms in Austin, 
								New York, and Los Angeles, featuring a few of the same artists, but mostly different lineups. This time, 
								it's at the Round Rock Amp (3701 I 35 N Frontage Rd.), 
								a relatively new venue that opened in April 2022; and this time it's much bigger than past Austin parties.</p>
		
								<img src="../images/Concert AgneszM.jpg"  alt=""></div>
							</div>

							<div class="news">
								<div class="box">
									<h2>Indonesian superstar Agnez Mo headlines Asian music festival in Round Rock</h2>
									<p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
										claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
										it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.
				
										Actually, this unique traveling festival by 1214 Entertainment has taken place in various forms in Austin, 
										New York, and Los Angeles, featuring a few of the same artists, but mostly different lineups. This time, 
										it's at the Round Rock Amp (3701 I 35 N Frontage Rd.), 
										a relatively new venue that opened in April 2022; and this time it's much bigger than past Austin parties.</p>
				
										<img src="../images/Concert AgneszM.jpg"  alt=""></div>
									</div>
		
	</body>
</html>