---
import './style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News/Tour</title>
	</head>
	
	<body>
		
		<header class="header-news"><ul>
            <a href="homepage">Home</a>
        </ul>
		<h1> News and Tours<h1>
    </header>
		<ul>
	
		<div class="container">
            <div class="blog-section">
                <div class="title">
                  
		
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="image-section">
                            <img src="../images/Concert AgneszM.jpg"  alt=""></div>
                        <div class="content">
                            <h4>Title One</h4>
                            <p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
                                claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
                                it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.
        
                                </class="header-playlist"><ul>
                                <a href="">Read More</a>
                                </div>
                                <div class="posted-date">
                                    <p>Posted on....</p>
        </div>

        <div class="card">
            <div class="image-section">
                <img src="../images/Concert AgneszM.jpg"  alt=""></div>
            <div class="content">
                <h4>Title One</h4>
                <p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
                    claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
                    it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.

                    </class="header-playlist"><ul>
                    <a href="">Read More</a>
                    </div>
                    <div class="posted-date">
                        <p>Posted on....</p>
                    </div>

                    <div class="card">
                        <div class="image-section">
                            <img src="../images/Concert AgneszM.jpg"  alt=""></div>
                        <div class="content">
                            <h4>Title One</h4>
                            <p>Austinites are lucky that music comes to us from everywhere, but one new festival stands out, 
                                claiming to be the first outdoor Asian music fest in all of Texas. Called #YAR (Young Asians Represent) Music Festival, 
                                it will showcase independent musical acts from Indonesia, Taiwan, Korea, and of course, the United States.
        
                               </class="header-playlist"><ul>
                                <a href="">Read More</a>
                                </div>
                                <div class="posted-date">
                                    <p>Posted on....</p>
                                </div>
                            </div>
            </body>
</html>	
	</body>
</html>