---
import './style.css'


---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		

	</head>
	
	<body>
		<header class="header-playlist"><ul>
            <a href="homepage">Home</a>
        </ul>
    	</header>

		<!--custom js file link-->
		<scrip src=js/script.js" defer></scrip>


		<div class="playlist">
			<h1>Playlist</h1>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=1gTdgdJ_rMY">Overdose</a></li>
		<li><a href="https://www.youtube.com/watch?v=NWH85qhrdoY&list=PLTkzGBliynXbhrZbb82ikSpnhKFLbHRVK&index=2">Long As I Get Paid<a></li>
		<li><a href="https://www.youtube.com/watch?v=5iobEYR487Q&list=PLTkzGBliynXbhrZbb82ikSpnhKFLbHRVK&index=1">Coke Bottle</a></li>
	</ul>
</div>


	<button id="shuffle">Shuffle</button>
	
	<from id="add-song-form">
		<input type="text"
		id="new-song" placeholder="Add a new song"/>

	</body>
</html>