---
import './style.css'



---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		

	</head>
	
	<body>
		<header class="header-playlist"><ul>
            <a href="homepage">Home</a>
        </ul>
    	</header>

		<div class="playlist"><h1>Playlist</h1></div>
		
			


	<ul id="playlist">

		<li>song 1</li>
		<li>song 1</li>
		<li>song 1</li>
	</ul>
	<button id="shuffle">Shuffle</button>
	
	<from id="add-song-form">
		<input type="text"
		id="new-song" placeholder="Add a new song"/>

	</body>
</html>