body{
    

}
.header-main{
    width: 100%;
    height: 60px;
    background-color: rgb(31, 20, 3);
    display:flex;
    flex-direction: row;
   
     
}
.header-main div {
    height:60px;
    text-align: center;
}

.header-main .div-1{
    width: 175px;
    background-color: rgb(25, 157, 157);  
    text-align: left;
    
}
.header-main .div-2{
    width: 175px;
    background-color: rgb(135, 38, 106);
    text-align: left;
}
.header-main .div-3{
    width: 175px;
    background-color: rgb(33, 109, 65);
    text-align: left;  
}

h1{
    color: rgb(20, 8, 7);
    text-transform: uppercase;
    font-family: fantasy;
    text-align: center;
   font-size: 150px;
   margin-bottom: -50px;
   margin-top:-10px;
     
}
main h2{
     
    color: rgba(153, 12, 29, 0.908);
    font-size: 80px;
   font-style: oblique;
   padding-left:250px;
    padding-top:300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
 ul a{
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue; 
  
}

a:hover{
    background-color: rgb(10, 30, 47);
}


main img{
  width: 800px;
  height: 1000px;
  float:right;
 
}


/*about*/

.header-about{
    width: 100%;
    height: 60px;
    background-color: rgb(31, 20, 3);
    display:flex;
    flex-direction: row;
    
}




 section ul a{
    text-decoration: none;
    color: blue;
}
 section h2{
   background-color:rgb(117, 30, 120);
   width: 60px;
   height: 60px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

text-align: center;
    color:rgb(42, 13, 13);
    font-size: 100px;
    
}
main img{
    
    width: 600px;
    height: 800px;
    display:block;
     
  
}
/*box-about*/
.section{
    display:flex;
    flex-direction: row-reverse;
   
}
.box1{
   order:2;
    position:relative;
  left:50px;
  
}
.box1 h1{
    font-weight: 70;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.box2{
    order: 1;
    border: 2px solid;
   height: 600px;
    width: 380px;
    position:relative;
    top:200px;
    right:150px;
    border-radius: 5%;
   
}
.box2 h2{
    text-align:left;
   margin-top: 20px;
   padding:5px;

}
.box2 p{
   text-align:left;
   margin-top:10px;
   padding:10px;

}
.section img{
    max-width: 500px;
    max-height: 600px;
    border-radius: 5%;
}
.box3{
   
    position:relative;
    top:50px;
  left:-1000px;
    width: 20px;
    padding-top:150px;

}
/*news*/

.header-news{
    width: 100%;
    height: 60px;
    background-color: rgb(238, 227, 212);
    display:flex;
    flex-direction: row;
}
.header-news a{
    color:rgb(14, 45, 72);
}
h1{
    color:rgb(135, 8, 116);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding-left: 300px;
    padding-top:20px;
}

/*playlist*/
.header-playlist{
    width: 100%;
    height: 60px;
    background-color: rgb(31, 20, 3);
    display:flex;
    flex-direction: row;
}
.playlist h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.playlist ul li a{
    text-decoration: none;
    color: blue;
    
  
}
   
