body{

}
.header-main{
    width: 100%;
    height: 60px;
    background-color: rgb(31, 20, 3);
    display:flex;
    flex-direction: row;
   
     
}
.header-main div {
    height:60px;
    text-align: center;
}

.header-main .div-1{
    width: 175px;
    background-color: rgb(25, 157, 157);  
    text-align: left;
    
}
.header-main .div-2{
    width: 175px;
    background-color: rgb(135, 38, 106);
    text-align: left;
}
.header-main .div-3{
    width: 175px;
    background-color: rgb(33, 109, 65);
    text-align: left;  
}

h1{
    color: rgb(20, 8, 7);
    text-transform: uppercase;
    font-family: fantasy;
    text-align: center;
   font-size: 150px;
   margin-bottom: -50px;
   margin-top:-10px;
     
}
main h2{
     
    color: rgba(153, 12, 29, 0.908);
    font-size: 80px;
   font-style: oblique;
   padding-left:250px;
    padding-top:300px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
 ul a{
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue; 
  
}

a:hover{
    background-color: rgb(10, 30, 47);
}


main img{
  width: 800px;
  height: 1000px;
  float:right;
 
}


/*about*/

.header-about{
    width: 100%;
    height: 60px;
    background-color: rgb(31, 20, 3);
    display:flex;
    flex-direction: row;
    
}
 section ul a{
    text-decoration: none;
    color: blue;
}
 section h2{
   
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
text-align: center;

    color:rgb(28, 5, 5);
    font-size: 100px;
    
}
section img{
    
    width: 450px;
    height: 650px;
    display:block;
    padding-left:200px;
    
    
   
  
}
/*box*/
.box{
    border: 2px solid;
    height: auto;
    width:50% right;
    float: right;
}

