
.header-main{
    width: 100px;
    height: 60px;
    
    background-color: blanchedalmond;
    display:flex;

}
.header-main div {
    height:30px;
}
.header-main div-1{
    width: 100px;
    background-color: rgb(44, 134, 134);
}
.header-main div-1{
    width: 100px;
    background-color: rgb(32, 12, 26);
}