---
import './style.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>News/Tour</title>
	</head>
	
	<body>
		<news>
       <h2>mmmmmm</h2>
        </news>
        <a href="news">Home</a>

		
	</body>
</html>